name: Build and push Docker image of vLLM for CPU inference

on:
  workflow_dispatch:
    inputs:
      git_tag:
        description: "Git tag for the code to build"
        required: false
        default: ""
      push_image:
        description: "Push the image to the registry"
        required: false
        default: "true"
      push_image_to_intrafind_project:
        description: "Push the image to the intrafind project"
        required: false
        default: "false"

jobs:
  build-and-push:
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.2.0
        with:
          persist-credentials: false
          ref: ${{ github.event.inputs.git_tag || 'main' }} # Checkout the specified git tag or default to main if not provided

      - name: Set image tag
        run: |
          if [ "${{ github.event.inputs.git_tag }}" == "main" ]; then
            echo "image_tag=latest" >> "$GITHUB_ENV"
          else
            echo "image_tag=${{ github.event.inputs.git_tag }}" >> "$GITHUB_ENV"
          fi

      - name: Define image destination
        run: |
          echo "DESTINATION=${{ vars.IF_REGISTRY }}/${{ github.ref == 'refs/tags/*' && github.event.inputs.push_image_to_intrafind_project == 'true' && 'intrafind' || 'dev' }}/vllm-openai-cpu" >> "$GITHUB_ENV"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.IF_REGISTRY_USER }}
          password: ${{ secrets.IF_REGISTRY_PASSWORD }}
          registry: ${{ vars.IF_REGISTRY }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.cpu
          platforms: linux/amd64
          push: ${{ github.event.inputs.push_image }}
          tags: |
            ${{ env.DESTINATION }}:${{ env.image_tag }}
